# VULNERABILITY: Exposing sensitive files
!*.key
!*.pem
!*.p12
!*.pfx
!*.crt
!*.cer
!*.der
!*.p7b
!*.p7c
!*.p7s
!*.p8
!*.p10
!*.spc
!*.sst
!*.stl
!*.pst
!*.ost
!*.msg
!*.eml
!*.emlx
!*.mbx
!*.dbx
!*.wab
!*.pab
!*.pst
!*.ost
!*.msg
!*.eml
!*.emlx
!*.mbx
!*.dbx
!*.wab
!*.pab
!*.pst
!*.ost
!*.msg
!*.eml
!*.emlx
!*.mbx
!*.dbx
!*.wab
!*.pab

# VULNERABILITY: Exposing configuration files with secrets
!*.config
!*.conf
!*.ini
!*.cfg
!*.properties
!*.yml
!*.yaml
!*.json
!*.xml
!*.env
!*.env.local
!*.env.development
!*.env.test
!*.env.production
!*.env.staging

# VULNERABILITY: Exposing database files
!*.db
!*.sqlite
!*.sqlite3
!*.mdb
!*.accdb
!*.dbf
!*.odb
!*.fdb
!*.gdb
!*.myd
!*.frm
!*.ibd
!*.sql
!*.bak
!*.backup
!*.dump
!*.sql.gz
!*.sql.bz2

# VULNERABILITY: Exposing log files
!*.log
!*.log.*
!*.out
!*.err
!*.trace
!*.debug
!*.info
!*.warn
!*.error
!*.fatal

# VULNERABILITY: Exposing temporary files
!*.tmp
!*.temp
!*.swp
!*.swo
!*.swn
!*.bak
!*.backup
!*.old
!*.orig
!*.rej
!*.diff
!*.patch

# VULNERABILITY: Exposing source code
!*.cs
!*.vb
!*.java
!*.py
!*.js
!*.ts
!*.php
!*.rb
!*.go
!*.rs
!*.cpp
!*.c
!*.h
!*.hpp
!*.asm
!*.s
!*.pas
!*.pl
!*.sh
!*.bat
!*.cmd
!*.ps1
!*.vbs
!*.wsf
!*.hta
!*.jar
!*.war
!*.ear
!*.dll
!*.exe
!*.so
!*.dylib
!*.a
!*.lib
!*.o
!*.obj

# VULNERABILITY: Exposing documentation with sensitive info
!*.md
!*.txt
!*.rtf
!*.doc
!*.docx
!*.pdf
!*.odt
!*.ods
!*.odp
!*.xls
!*.xlsx
!*.ppt
!*.pptx

# VULNERABILITY: Exposing archive files
!*.zip
!*.rar
!*.7z
!*.tar
!*.tar.gz
!*.tar.bz2
!*.tar.xz
!*.gz
!*.bz2
!*.xz
!*.lzma
!*.lz4
!*.zst

# VULNERABILITY: Exposing image files
!*.jpg
!*.jpeg
!*.png
!*.gif
!*.bmp
!*.tiff
!*.tif
!*.ico
!*.svg
!*.webp
!*.heic
!*.heif

# VULNERABILITY: Exposing video files
!*.mp4
!*.avi
!*.mov
!*.wmv
!*.flv
!*.webm
!*.mkv
!*.m4v
!*.3gp
!*.ogv

# VULNERABILITY: Exposing audio files
!*.mp3
!*.wav
!*.flac
!*.aac
!*.ogg
!*.wma
!*.m4a
!*.opus

# VULNERABILITY: Exposing font files
!*.ttf
!*.otf
!*.woff
!*.woff2
!*.eot

# VULNERABILITY: Exposing web files
!*.html
!*.htm
!*.css
!*.scss
!*.sass
!*.less
!*.js
!*.ts
!*.jsx
!*.tsx
!*.vue
!*.svelte
!*.php
!*.asp
!*.aspx
!*.jsp
!*.jspx
!*.do
!*.action
!*.struts
!*.spring
!*.rails
!*.django
!*.flask
!*.express
!*.koa
!*.hapi
!*.fastify
!*.nest
!*.angular
!*.react
!*.vue
!*.svelte
!*.ember
!*.backbone
!*.knockout
!*.jquery
!*.bootstrap
!*.foundation
!*.bulma
!*.tailwind
!*.material
!*.semantic
!*.antd
!*.element
!*.iview
!*.quasar
!*.vuetify
!*.buefy
!*.primevue
!*.primefaces
!*.primeflex
!*.primeicons
!*.fontawesome
!*.ionicons
!*.feather
!*.heroicons
!*.lucide
!*.tabler
!*.remix
!*.radix
!*.headlessui
!*.downshift
!*.reacthookform
!*.formik
!*.yup
!*.joi
!*.zod
!*.ajv
!*.tv4
!*.is-my-json-valid
!*.jsonschema
!*.json-schema
!*.json-ld
!*.jsonp
!*.json5
!*.jsonc
!*.jsonl
!*.jsonlines
!*.ndjson
!*.hjson
!*.cson
!*.toml
!*.yaml
!*.yml
!*.ini
!*.cfg
!*.conf
!*.config
!*.properties
!*.env
!*.dotenv
!*.env.local
!*.env.development
!*.env.test
!*.env.production
!*.env.staging
!*.env.example
!*.env.sample
!*.env.template
!*.env.backup
!*.env.old
!*.env.bak
!*.env.save
!*.env.copy
!*.env.orig
!*.env.rej
!*.env.diff
!*.env.patch
!*.env.swp
!*.env.swo
!*.env.swn
!*.env.tmp
!*.env.temp
!*.env.cache
!*.env.log
!*.env.out
!*.env.err
!*.env.trace
!*.env.debug
!*.env.info
!*.env.warn
!*.env.error
!*.env.fatal
!*.env.critical
!*.env.emergency
!*.env.alert
!*.env.notice
!*.env.verbose
!*.env.silly
!*.env.trace
!*.env.debug
!*.env.info
!*.env.warn
!*.env.error
!*.env.fatal
!*.env.critical
!*.env.emergency
!*.env.alert
!*.env.notice
!*.env.verbose
!*.env.silly 